@import url("https://rsms.me/inter/inter.css");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4f46e5;
  --ifm-color-primary-dark: #362ce1;
  --ifm-color-primary-darker: #2a1fdf;
  --ifm-color-primary-darkest: #231ab8;
  --ifm-color-primary-light: #6860e9;
  --ifm-color-primary-lighter: #746deb;
  --ifm-color-primary-lightest: #9a95f0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Inter", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #d2d0f8;
  --ifm-color-primary-dark: #aca8f2;
  --ifm-color-primary-darker: #9994ef;
  --ifm-color-primary-darkest: #6059e6;
  --ifm-color-primary-light: #f8f8fe;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
