:root {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #f3f4f6;
    --rdp-background-color: #e7edff;
    /* Outline border for focused elements */
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

.rdp {
    margin: 0;
}

.rdp-weeknumber,
.rdp-day,
.rdp-nav_button {
    /*border-radius: 0.375rem;*/
    border-radius: 9999px;
}

.rdp-cell {
    border: 1px solid #e5e7eb;
}

.rdp-tbody tr:first-child td:first-child {
    border-top-left-radius: 0.375rem;
}

.rdp-tbody tr:first-child td:last-child {
    border-top-right-radius: 0.375rem;
}

.rdp-tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.375rem;
}

.rdp-tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.375rem;
}
